#identitéSection{
  background-color: rgb(37, 116, 169);
}

#identitéSection legend{
  background-color: rgb(37, 116, 169);
}

#adresseSection{
  background-color: rgb(154, 18, 179);
}

#adresseSection legend{
  background-color: rgb(154, 18, 179);
}

#réglementSection{
  background-color: rgb(219, 10, 91);
}

#réglementSection legend{
  background-color: rgb(219, 10, 91);
}

#carteSelection{
  margin-left: 70px;
}
